@import './animations.styl'
font = 'Avenir'
font2 = 'avenir'

@font-face
  font-family: font;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/' + font + '.eot');
  src: local(font),
    url('../fonts/' + font + '.otf') format('otf'),
    url('../fonts/' + font2 + '.ttf') format('ttf'),
    url('../fonts/' + font2 + '.woff') format('woff')

*
  box-sizing: border-box

html
body
#root
  height: 100%


  h1
  h2
  h3
  h4
  h5
  h6
  p
  li
  a
  label
    font-family: 'Avenir'

  h1
    font-weight: 900

  h3
    font-weight: 100

  .soft
    width: 100%
    border: 1px solid #e6dede
    border-radius: 4px
    background: white
    display: flex
    justify-content: center
    align-items: center
    margin: 5px
  .soft-button
    width: 100%
    display: block
    padding: 5px
    margin-bottom: 7px
    box-shadow: 0px 1px 1px 1px #a2959587;