.filter-menu
  display: inline-flex
  align-items: flex-start
  background: #fff;
  padding: 10px 5px;
  box-shadow: 0px 0px 11px 1px #a2959587;
  position: sticky;
  top: 0px;
  .dropdown
    padding: 20px
    box-shadow: 0px 0px 11px 1px #a2959587;
    border-radius: 4px
  .toggle-filter
    border: 1px solid #ccbbbb;
    font-size: 0.7em;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer
  .toggle-filter:hover
    background: gray
    color: white